<div class="jumbotron" style="background:url('https://newevolutiondesigns.com/images/freebies/green-wallpaper-4.jpg'); background-size: cover;">
	<h1>Welcome to English Premier League Menu App</h1>
	<div>
		<button class="btn btn-success"><a href="" ng-click="homeCtrl.firYear()"
		ui-sref="matches">2015/16 matches</a></button>
		<button class="btn btn-success"><a href="" ng-click="homeCtrl.secYear()" ui-sref="matches">2016/17 matches</a></button>
	</div>
</div>

<div class="jumbotron" style="background:url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Ec7hwrKKxik52rser/4k-white-tile-movement-animation-background-seamless-loop_4vl4fmake__F0000.png'); background-size: cover;">
            <div class="row">
          <!-- <div class="col-lg-8 mx-auto"> -->
            <h2>EPL website</h2>
            <p class="lead">This page contains my final project of Level 4, which was to create a responsive SPA to display the match stats of EPL for year 2015-16 and 2016-17, it contains a list view of all the matches whose data is provided to me in JSON format, it has following views :</p>
            <ul class="list-unstyled list-group" >
              <li class="list-group-item list-group-item-success">A view to display all matches held. This view contains various filters like filter by year, filter by Team name, filter by score etc.</li>
              <li class="list-group-item list-group-item-warning">A view to display details of a single match.</li>
              <li class="list-group-item list-group-item-danger">A view to display team wise statistics like total matches played, total won, total lost, total number of goals scored by that team etc.</li>
            </ul>
            
          <!-- </div> -->
        </div>
        </div>