<div class="container" style="background:url('https://i.pinimg.com/236x/09/a7/32/09a732b16c4dc28b832f3d166f55783f--yellow-phone-wallpaper-yellow-background-iphone.jpg')">
	<div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li ui-sref-active="active" ui-sref="home" role="presentation"><a href="#">Home</a></li>
                    <li ui-sref-active="active" ui-sref="matches" role="presentation"><a href="#">Matches</a></li>
                    <li ui-sref-active="active" ui-sref="stats" role="presentation"><a href="#">stats</a></li>
                </ul>
            </nav>
            <h3>English Premier League App</h3>
        </div>	
	<div class="jumbotron" style="background: url('http://images.all-free-download.com/images/graphiclarge/soccer_green_background_repeating_symbols_sketch_decoration_6827636.jpg')">
		<h1>Team Stats view</h1>
		<stats stats="statsCtrl.stats"></stats>
	</div>
</div>